/*  your css code here. If applicable */
*{
    margin: 0;
    padding-top: 30px;
}

#main{
    background-color: #f1f1f1;
    width: 400px;
    height: 600px;
    text-align: center;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #c6c1c1;
    box-sizing: border-box;
    margin-bottom: 50px;
}
img{
    width: 60%;
    height: 40%;
}

p{
    margin-top: 0px;
    padding-top: 0px;
    margin-left: 40px;
    margin-right: 40px;
}
button{
    margin-top: 20px;
    border-style: hidden;
    border-radius: 10px;
    width: 35%;
    height: 50px;
    background-color: rgb(254,98,90);
    color: white;
    padding: 0;
    font-size: x-large;
    font-weight:bolder;
}